<p id="notice"><%= notice %></p>

<p>
  <strong>Track:</strong>
  <%= @point.track_id %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @point.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @point.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @point.address %>
</p>

<%= link_to 'Edit', edit_point_path(@point) %> |
<%= link_to 'Back', points_path %>
