<%= form_for(track) do |f| %>
  <% if track.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(track.errors.count, "error") %> prohibited this track from being saved:</h2>

      <ul>
      <% track.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :start_at %>
    <%= f.datetime_select :start_at %>
  </div>

  <div class="field">
    <%= f.label :end_at %>
    <%= f.datetime_select :end_at %>
  </div>

  <div class="field">
    <%= f.label :label_id %>
    <%= f.number_field :label_id %>
  </div>

  <div class="field">
    <%= f.label :note %>
    <%= f.text_field :note %>
  </div>

  <div class="field">
    <%= f.label :is_manual %>
    <%= f.check_box :is_manual %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
