<%= form_for(user) do |f| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %>
    <%= f.text_field :username %>
  </div>

  <div class="field">
    <%= f.label :nickname %>
    <%= f.text_field :nickname %>
  </div>

  <div class="field">
    <%= f.label :phone %>
    <%= f.text_field :phone %>
  </div>

  <div class="field">
    <%= f.label :encrypted_password %>
    <%= f.text_field :encrypted_password %>
  </div>

  <div class="field">
    <%= f.label :sex %>
    <%= f.check_box :sex %>
  </div>

  <div class="field">
    <%= f.label :age %>
    <%= f.number_field :age %>
  </div>

  <div class="field">
    <%= f.label :bio %>
    <%= f.text_field :bio %>
  </div>

  <div class="field">
    <%= f.label :avatar %>
    <%= f.text_field :avatar %>
  </div>

  <div class="field">
    <%= f.label :state %>
    <%= f.number_field :state %>
  </div>

  <div class="field">
    <%= f.label :setting %>
    <%= f.text_area :setting %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
